<script src="{{ site.assets }}/js/jquery-2.0.3.min.js"></script>
<script src="{{ site.assets }}/js/request-count.js"></script>
<script src="{{ site.assets }}/js/jquery.imagesloaded.min.js"></script>
<script src="{{ site.assets }}/js/jquery.qrcode-0.12.0.min.js"></script>
<script src="{{ site.assets }}/js/toc.js"></script>

<script type="text/javascript">
$(document).ready(function(){ 
  $('.navbar').click(function(){
    $('header nav').toggleClass('shownav');
  });
  var myWidth = 0;
  function getSize(){
    if( typeof( window.innerWidth ) == 'number' ) {
      myWidth = window.innerWidth;
    } else if( document.documentElement && document.documentElement.clientWidth) {
      myWidth = document.documentElement.clientWidth;
    };
  };
  var m = $('#main'),
      a = $('#asidepart'),
      c = $('.closeaside'),
      o = $('.openaside');
  c.click(function(){
    a.addClass('fadeOut').css('display', 'none');
    o.css('display', 'block').addClass('fadeIn');
    m.addClass('moveMain');
  });
  o.click(function(){
    o.css('display', 'none').removeClass('beforeFadeIn');
    a.css('display', 'block').removeClass('fadeOut').addClass('fadeIn');      
    m.removeClass('moveMain');
  });
  $(window).scroll(function(){
    o.css("top",Math.max(80,260-$(this).scrollTop()));
  });
  
  {% if page.layout == 'post' and site.close_aside %}
        getSize();
        if (myWidth >= 1024) {
          c.click();
          $('#toc.toc-aside').show();
        }
  {% endif %}
  
  $(window).resize(function(){
    getSize(); 
    if (myWidth >= 1024) {
      $('header nav').removeClass('shownav');
    }else{
      m.removeClass('moveMain');
      a.css('display', 'block').removeClass('fadeOut');
      o.css('display', 'none');
      {% if page.layout == 'post' and page.toc != false and site.toc.aside %}
      $('#toc.toc-aside').css('display', 'none');
      {% endif %}
    }
  });
});
</script>

{% if page.layout == 'post' %}
<script type="text/javascript">
$(document).ready(function(){ 
  $('#toc.toc-aside').toc({
    title: "{{ lang.contents }}",
    showEffect: "none"
  });
  $('#toc.toc-article').toc({
    title: "{{ lang.contents }}",
    showEffect: "show",
    showSpeed: 0
  });
});
</script>
{% endif %}

{% if page.layout == 'post' %}
<script type="text/javascript">
$(document).ready(function(){ 
  var ai = $('.article-content>iframe'),
      ae = $('.article-content>embed'),
      t  = $('#toc'),
      ta = $('#toc.toc-aside'),
      o  = $('.openaside'),
      c  = $('.closeaside');
  if(ai.length>0){
    ai.wrap('<div class="video-container" />');
  };
  if(ae.length>0){
   ae.wrap('<div class="video-container" />');
  };
  c.click(function(){
    ta.css('display', 'block').addClass('fadeIn');
  });
  o.click(function(){
    ta.css('display', 'none');
  });
  $(window).scroll(function(){
    ta.css("top",Math.max(140,320-$(this).scrollTop()));
  });
});
</script>
{% endif %}

{% if page.layout == 'archives' or page.layout == 'categories' or page.layout == 'tags' %}
<script type="text/javascript">
$(document).ready(function(){
    var show_post = function(anchor) {
        $(".post").hide();
        var cls = anchor.substr(1);
        $("." + cls).show();
        $(".archive-folder").text(cls);
    }
    if (document.location.hash) {
        show_post(document.location.hash);
    }
    $('a[href*=#]').click(function() {
        if (this.hash) {
            show_post(this.hash);
        }
    });
    
});
</script>
{% endif %}

<!-- Totop Begin -->
{% include _partial/totop.html %}
<!-- Totop End -->

