<div class="article-catetags">
    {% if item.categories and (item.categories | size != 0) %}
    <div class="article-categories">
        <span></span>
        {% for category in item.categories %}
        <a class="article-category-link" href="{{ site.baseurl }}/categories.html/#{{ category }}">{{
            category }}</a>
        {% endfor %}
    </div>
    {% endif %}
    {% if item.tags and item.tags | size != 0 %}
    <div class="article-tags">
        <span></span>

        {% for tag in item.tags %}
        <a href="{{ site.baseurl }}/tags.html/#{{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>

